



.container{

}
#root{
  
  width: 100%;

  height: 100vh;
}

.header-data{
  padding: 3vw;
  display: flex;
  align-items: center;
  
  height: 15vh;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.header-data h1{
  font-size: 5vw;
}
.header-data h2{
  font-size: 3vw;
}
.search input{
  margin-top: 2vw;
  
  height: 6vh;
  width: 80%;
  background-color: white;
  border-radius: 2vw;
  border: 2px solid rgb(47, 245, 12);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
outline: none;
}
#region,#sort,#subregion{
  
  border-radius: 2vw;
  height: 5vh;
  margin-top: 4vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  outline: none;
  width: 45%;
  border: 2px solid rgb(47, 245, 12);
  background-color: white;
}
.landlocked{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 2vw;
  margin-top: 2vw;
  height: 5vh;
  width: 80%;
  border: 2px solid rgb(47, 245, 12);

}
#landlock{
  
}
.population,.region,.capital{
  display: flex;
  padding: 0 1vw;
  
  
}
.eachcountry{
 
}
.cards{
  width: 80%;
  margin: 0 auto;
}
.filters{
  padding: 3vw;
}
.cardbody{
  line-height: 0.5vw;
  margin-bottom: 3vw;
}
.card{
  
  
  width: 100%;
  margin-top: 10vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#country-name{
  font-size: 6vw;
  font-weight: 700;
  padding: 5vw;
}
#population,#regions,#capital{
  font-weight: 700;
  font-size: 3vw;
  

}
#value{
  font-size: 3vw;
}

@media (min-width:768px){
 
  .header-data{
    height: 2vw;
  }
  .header-data h1{
    font-size: 2vw;
  }
  .header-data h2{
    font-size: 1vw;
  }
  .filters{
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .search input{
    width: 30vw;
    height: 3vw;
    border-radius: 1vw;
    margin-right: 3vw;
    flex: 3;
  }
  #region,#sort,#subregion{
    width:11vw;
    flex: 1;
    height: 3vw;
    border-radius: 1vw;
    margin-right: 3vw;
  }
  .landlocked{
    width: 5vw;
    flex: 1;
    height: 2.5vw;
    border-radius: 1vw;
    margin-right: 3vw;
    
    display:flex;
    align-items: center;
  }
  .card{
    width: 23%;
  margin-top: 5vw;
  }
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 1.5vw;
  }
  .eachcountry{
    
    margin: 0;
    
  }
  #population,#regions,#capital{
    font-weight: 700;
    font-size: 1vw;
  
  }
  #value{
    font-size: 1vw;
  }
  #country-name{
    font-size: 1.5vw;
    font-weight: 700;
    padding: 1vw;
  }
  .cardbody{
    padding: 0;
    margin: 1vw;
  }
}